.container{
    display:flex;

}


.background-image{
    position:absolute;
    width:35vw;
    z-index: -2;
    height: 100vh;
    top:0;
}

.TAAJ {
    position:absolute;
    width: 10vw;
    top: 40vh;
    left: 15vh;

}

.Text-TAAJ{
    position:absolute;
    font-size: 80px;
    top: 43vh;
    left: 17vw;
}

.light-background{
    position: absolute;
    background-color: grey;
    width:35vw;
    height: 5vw;
    top: 42vh;
    z-index: -1;
    opacity: 0.5;
}

.right-top{
    background-color: grey;
    width:65vw;
    height: 35vh;
    position:absolute;
    left: 35vw;
    z-index: -3;
    top: 0;


}

.Text1{
    font-size: 3vh;
    font-weight: bold;
    width: 40vw;
    color: black;
    margin-left: 2vw;
    margin-top: 10vh;


}


.right-middle{
    background-color: lightgrey;
    width:65vw;
    height: 35vh;
    position:absolute;
    left: 35vw;
    z-index: -3;
    top: 35vh;
    padding-left: 2vw;
    display: flex;
    flex-direction: column;


}
.form-input{
    display: flex;
    gap: 2vw
}
.formformat{
    display:flex;
    flex-direction: column;
    width: 10vw;
}

.form-left{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.form-right{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.right-bottom{
    background-color: grey;
    width:65vw;
    height: 30vh;
    position:absolute;
    left: 35vw;
    z-index: -4;
    top: 70vh;
    padding-left: 2vw;
    display: flex;
    flex-direction: column;


}



.bottom{
    position: absolute;
    top: 40vh;
    z-index: 1;
}

.login{
    position:relative;
   text-align: center;
   display:flex;
   top: 12vh;
   gap: 0.5vw;
}

.login-link{
    position:relative;
    top: 1.9vh;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 3vh;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #2b792e;
    border: none;
    border-radius: 15px;
}
