.container{
    display:flex;

}


.background-image{
    position:absolute;
    width:35vw;
    z-index: -2;
    height: 100vh;
    top:0;
}

.TAAJ {
    position:absolute;
    width: 10vw;
    top: 40vh;
    left: 15vh;

}

.Text-TAAJ{
    position:absolute;
    font-size: 80px;
    top: 43vh;
    left: 17vw;
}

.light-background{
    position: absolute;
    background-color: grey;
    width:35vw;
    height: 5vw;
    top: 42vh;
    z-index: -1;
    opacity: 0.5;
}

.right-top{
    background-color: grey;
    width:65vw;
    height: 35vh;
    position:absolute;
    left: 35vw;
    z-index: -3;
    top: 0;


}

.Text1{
    font-size: 3vh;
    font-weight: bold;
    width: 40vw;
    color: black;
    margin-left: 2vw;
    margin-top: 10vh;


}


.right-middle{
    background-color: lightgrey;
    width:65vw;
    height: 35vh;
    position:absolute;
    left: 35vw;
    z-index: -3;
    top: 35vh;
    padding-left: 2vw;


}

.email{
    display:flex;
    flex-direction: column;
    width: 10vw;
}